.body{
  margin-left: 1%;
  
}
/* .widget-box{
  width:32%;
  height: 200px;
  background-color: white;
  border: 1px solid rgb(222, 217, 217);
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: none;
}
.cate-box{
  display: flex;
  
} */